/* You can add global styles to this file, and also import other style files */
body {
    // background: rgb(1,5,17);
    background: linear-gradient(143deg, rgba(1,5,17,1) 6%, rgba(56,72,164,1) 45%, rgba(228,188,68,1) 98%);
}

body {
    margin: 0;
    padding: 0;
}