/* You can add global styles to this file, and also import other style files */
body {
    background: rgb(1,5,17);
    // background: linear-gradient(143deg, rgba(1,5,17,1) 6%, rgba(56,72,164,1) 45%, rgba(228,188,68,1) 98%);
    // background: linear-gradient(169deg, rgba(1,4,19,1) 14%, rgba(31,50,152,1) 55%, rgba(203,159,39,0.99781162464986) 96%);
    // background: linear-gradient(169deg, rgba(3,6,20,1) 4%, rgba(20,38,133,1) 62%, rgba(203,159,39,0.99781162464986) 100%);
    background: linear-gradient(166deg, rgba(3,6,20,1) 9%, rgba(50,30,14,1) 17%, rgba(77,40,9,1) 27%, rgba(20,38,133,1) 57%, rgba(12,24,83,1) 80%);
    // background: linear-gradient(166deg, rgba(5,14,57,1) 16%, rgba(20,38,133,1) 50%, rgba(167,82,7,1) 79%, rgba(12,24,83,1) 100%);
}

body {
    margin: 0;
    padding: 0;
}